# General play with Pandas, really

In [3]:
import pandas as pd
import plotly.graph_objects as go

In [4]:
ma_test_res = pd.read_csv("./Data/ma_test_results.csv")
all_trades = pd.read_csv("./Data/All Trades.csv")

Use .columns to list columns, which you can cut/paste/edit to make further activities easier.

In [7]:
all_trades.columns

Index(['Unnamed: 0', 'time', 'mid_c', 'DIFF', 'DIFF_PREV', 'IS_TRADE',
       'PIP_Delta', 'GAIN', 'PAIR', 'MASHORT', 'MALONG', 'DURATION'],
      dtype='object')

In [9]:
all_trades.column = all_trades[['time', 'PIP_Delta', 'GAIN', 'PAIR', 'MASHORT', 'MALONG', 'DURATION']]

C:\Users\johnj\AppData\Local\Temp\ipykernel_6800\1644404705.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  all_trades.column = all_trades[['time', 'PIP_Delta', 'GAIN', 'PAIR', 'MASHORT', 'MALONG', 'DURATION']]

In [10]:
all_trades.head()

,Unnamed: 0,time,mid_c,DIFF,DIFF_PREV,IS_TRADE,PIP_Delta,GAIN,PAIR,MASHORT,MALONG,DURATION
0,20,2022-11-23 16:00:00+00:00,168.258,-0.080875,0.059875,-1,-9.0,9.0,GBP_JPY,4,8,7.0
1,27,2022-11-23 23:00:00+00:00,168.168,0.006750,-0.042000,1,-8.8,-8.8,GBP_JPY,4,8,1.0
2,28,2022-11-24 00:00:00+00:00,168.080,-0.027000,0.006750,-1,-16.4,16.4,GBP_JPY,4,8,7.0
3,35,2022-11-24 07:00:00+00:00,167.916,0.009250,-0.048250,1,-27.7,-27.7,GBP_JPY,4,8,1.0
4,36,2022-11-24 08:00:00+00:00,167.639,-0.025875,0.009250,-1,11.4,-11.4,GBP_JPY,4,8,6.0

In [18]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [19]:
ma_test_res.head()

,Unnamed: 0,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong,CROSS
0,0,GBP_JPY,563,-179.6,-0.319005,-475.4,403.9,4,8,MA_4_8
1,1,GBP_JPY,295,260.5,0.883051,-415.4,440.4,4,16,MA_4_16
2,2,GBP_JPY,243,2034.8,8.373663,-411.9,499.4,8,16,MA_8_16
3,3,GBP_JPY,180,942.3,5.235000,-415.2,626.5,4,32,MA_4_32
4,4,GBP_JPY,136,1523.5,11.202206,-469.8,603.5,8,32,MA_8_32

In [25]:
df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

In [27]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [31]:
df_all_gains.head()

,CROSS,mashort,malong,Unnamed: 0,num_trades,total_gain,mean_gain,min_gain,max_gain
25,MA_8_16,8,16,6342,5751,2689.2,13.311526,-3651.7,6015.6
2,MA_16_32,16,32,6405,2730,939.8,11.890633,-4219.1,5928.6
17,MA_4_32,4,32,6363,4058,-622.8,-0.349118,-3437.9,6505.1
27,MA_8_32,8,32,6384,3152,-1936.7,-11.782501,-4100.4,6241.2
15,MA_4_16,4,16,6321,6612,-2686.3,-6.176897,-3277.8,5822.9

In [33]:
MA_8_16 = ma_test_res[ma_test_res.CROSS=="MA_8_16"].copy()

In [41]:
MA_8_16.head(12)

,Unnamed: 0,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong,CROSS
2,2,GBP_JPY,243,2034.8,8.373663,-411.9,499.4,8,16,MA_8_16
332,332,EUR_JPY,239,1482.1,6.201255,-297.4,402.8,8,16,MA_8_16
122,122,GBP_NZD,262,1344.6,5.132061,-171.8,519.2,8,16,MA_8_16
452,452,EUR_NZD,292,1267.5,4.340753,-186.8,456.8,8,16,MA_8_16
512,512,NZD_JPY,252,869.0,3.448413,-264.7,260.3,8,16,MA_8_16
572,572,NZD_CAD,256,823.0,3.214844,-114.1,214.3,8,16,MA_8_16
482,482,CHF_JPY,269,822.6,3.057993,-276.0,451.7,8,16,MA_8_16
62,62,GBP_CAD,278,729.4,2.623741,-172.6,342.8,8,16,MA_8_16
242,242,CAD_JPY,268,529.2,1.974627,-225.8,333.6,8,16,MA_8_16
602,602,NZD_CHF,282,135.8,0.481560,-56.8,141.0,8,16,MA_8_16
542,542,NZD_USD,268,-51.0,-0.190299,-130.6,190.2,8,16,MA_8_16
302,302,EUR_GBP,291,-205.2,-0.705155,-58.4,128.2,8,16,MA_8_16

In [35]:
MA_8_16.sort_values(by="total_gain", ascending=False, inplace=True)

In [38]:
MA_8_16.pair.unique()

array(['GBP_JPY', 'EUR_JPY', 'GBP_NZD', 'EUR_NZD', 'NZD_JPY', 'NZD_CAD',
       'CHF_JPY', 'GBP_CAD', 'CAD_JPY', 'NZD_CHF', 'NZD_USD', 'EUR_GBP',
       'CAD_CHF', 'USD_JPY', 'EUR_USD', 'GBP_USD', 'EUR_CHF', 'USD_CHF',
       'EUR_CAD', 'GBP_CHF', 'USD_CAD'], dtype=object)

In [39]:
len(MA_8_16.pair.unique())

21

In [40]:
MA_8_16[MA_8_16.total_gain>0].shape[0]

10

In [49]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS==cross]
    total_profit = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f"{cross:12} {n_good:4} {(n_good/total_profit)*100:4.0f}%")

MA_8_16        10   48%
MA_16_32        8   38%
MA_4_32         8   38%
MA_8_32         6   29%
MA_4_16         9   43%
MA_4_8          6   29%
MA_24_32        6   29%
MA_4_64         4   19%
MA_64_256       5   24%
MA_32_256       4   19%
MA_8_64         4   19%
MA_8_256        3   14%
MA_16_256       2   10%
MA_4_96         6   29%
MA_16_64        4   19%
MA_24_256       4   19%
MA_4_256        2   10%
MA_24_64        2   10%
MA_8_96         4   19%
MA_16_96        3   14%
MA_4_128        1    5%
MA_32_64        2   10%
MA_64_96        3   14%
MA_64_128       1    5%
MA_8_128        1    5%
MA_16_128       0    0%
MA_24_96        0    0%
MA_32_96        0    0%
MA_32_128       1    5%
MA_24_128       1    5%